* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1rem,10vw,3rem);
    max-width: 60rem;
    margin: auto;
}


/*  --- HEADER --- */
.site_intro {
    display: flex;
}

.site_intro section {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

h1 {
    font-size: 7vw;
    font-weight: lighter;
    letter-spacing: 1vw;
    text-align: center;
    margin-bottom: 2vh;
    padding-left: 1vw;
}

.site_intro p {
    text-align: center;
    font-size: 1.3vw;
}

.site_intro img {
    width: 60%;
}


/*  --- STICKY NAVBAR --- */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #2e2e2e;
    padding: 3vh 0;
    position: sticky;
    top: 0;
    font-size: 1.3vw;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:first-child {
    width: 35%;
    text-align: end;
}

/*  --- OUR STORY --- */
.story {
    display: flex;
    background-color: #2e2e2e;
    padding: 10vh 0;
}

.story img {
    width: 125%;
}

.story article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.story h2 {
    font-size: 3vw;
    font-weight: lighter;
    align-self: center;
}

.story article p {
    padding: 1.5vh 3.5vw;
    font-size: 1.3vw;
    line-height: 1.5;
    text-align: justify;
}


/*  --- FEATURED --- */
.featured h2 {
    font-size: 3vw;
    font-weight: lighter;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 1vh;
    width: 20vw;
    text-align: center;
}

.featured .featured_text {
    text-align: justify;
    font-size: 1.3vw;
    line-height: 1.5;
    width: 40vw;
    margin: auto;
}

.img_gallery {
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 0;
}

.img_gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28%;
}

.img_gallery img {
    width: 100%;
}

.img_gallery div p {
    text-align: center;
    font-size: 1.3vw;
    width: 75%;
    padding-top: .5vh;
}


/*  --- CONTACT --- */
.contact {
    background-color: #2e2e2e;
    color: #fff;
    padding: 9vh 0 9vh 4vw;
    padding-right: 0;
    position: relative;
    margin-top: 5vh;
}

.contact h2 {
    font-size: 3vw;
    font-weight: lighter;
    color: #fff;
    width: 31vw;
}

.contact p {
    line-height: 1.5;
    font-size: 1.3vw;
    width: 40%;
    margin: 2vh 0;
}

.contact aside {
    width: 25%;
    height: 18vh;
    background-color: rgb(228, 221, 221);
    border-top-right-radius: 60%;
    border-bottom-left-radius: 30%;
    position: absolute;
    top: 25%;
    left: 60%;
}

/*  --- FOOTER --- */
footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #1d2c2f;
    font-size: 1.3vw;
    padding: 2.5vh 2vw;
}

footer div a {
    text-decoration: none;
    font-size: 1.3vw;
    color: #fff;
    margin-left: 1.5vw;
}
