* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}


/*  --- HEADER --- */
.site_intro {
    display: flex;
}

.site_intro section {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

h1 {
    font-size: 5vw;
    font-weight: lighter;
    letter-spacing: 2vw;
    text-align: center;
    margin-bottom: 2vh;
    padding-left: 2vw;
}

.site_intro p {
    text-align: center;
    font-size: 1.5vw;
}

.site_intro img {
    width: 60vw;
}


/*  --- STICKY NAVBAR --- */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #2e2e2e;
    padding: 2vh 0;
    position: sticky;
    top: 0;
    font-size: 1.5vw;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:first-child {
    width: 45vw;
    text-align: end;
}

/*  --- OUR STORY --- */
.story {
    display: flex;
    background-color: #2e2e2e;
    padding: 8vh 0;
}

.story img {
    width: 55vw;
}

.story article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
}

.story h2 {
    font-size: 3vw;
    font-weight: lighter;
    align-self: center;
}

.story article p {
    padding: 1vh 2.5vw;
    font-size: 1.5vw;
    line-height: 1.5;
}


/*  --- FEATURED --- */
.featured h2 {
   /*  text-align: center; */
    font-size: 3vw;
    font-weight: lighter;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 1vh;
    width: 20vw;
    text-align: center;
}

.featured .featured_text {
    /* text-align: center; */
    font-size: 1.5vw;
    line-height: 1.5;
    width: 40vw;
    margin: auto;
}

.img_gallery {
    display: flex;
    justify-content: space-evenly;
    padding: 5vh 0;
}

.img_gallery img {
    width: 27vw;
}

.img_gallery div p {
    text-align: center;
    font-size: 1.5vw;
}


/*  --- CONTACT --- */
.contact {
    background-color: #2e2e2e;
    color: #fff;
    padding-bottom: 9vh;
    padding-top: 4vh;
    position: relative;
}

.contact h2 {
    font-weight: lighter;
    font-size: 3vw;
    color: #fff;
    padding: 8vh 0 0 5vw;
    width: 27vw;
}

.contact p {
    line-height: 1.5;
    font-size: 1.5vw;
    width: 40vw;
    margin: 2vh 5vw;
}

.contact aside {
    width: 25vw;
    height: 19vh;
    background-color: rgb(228, 221, 221);
    border-top-right-radius: 60%;
    border-bottom-left-radius: 30%;
    position: absolute;
    top: 10vh;
    left: 60vw;
}

/*  --- FOOTER --- */
footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #1d2c2f;
    font-size: 1.5vw;
    padding: 2.5vh 2vw;
}

footer div a {
    text-decoration: none;
    font-size: 1.5vw;
    color: #fff;
    margin-left: 1.5vw;
}
